/* #login-conatiner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    border: 5px solid black;
    margin: 50px;
} */
input{
    padding: 15px 70px ;
    border-radius: 2px;
    gap: 20px;
}
button{
    background-color: green;
    color: white;
    padding: 13px 50px ;
    border-radius: 3px;
    gap: 20px;
}
#logoutContainer{
    height: 100%;
    background-color: aqua;
}
.logoutContent{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

}
#auth_container{
    height: 100%;

}
#uploadContent{
    height: 100%;
    background-color: blue;
}