#signin_container{
    height: 100vh;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    padding: 10px;

}
#signin_container2{
    border: 1px solid black;
    padding: 20px;
    border-radius: 15px;
    /* box-shadow: rgb(31, 73, 116); */
}

.accountWrapper{
    display: flex;
    gap: 10px;
}
.accountWrapper span{
    color: blue;
}
input{
    padding: 15px 70px ;
    border-radius: 10px;
    gap: 20px;
}
button{
    background-color: green;
    color: white;
    padding: 13px 50px ;
    border-radius: 30px;
    gap: 20px;
}