/* #login-conatiner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    border: 5px solid black;
    margin: 50px;
} */
input{
    padding: 15px 70px ;
    border-radius: 10px;
    gap: 20px;
}
button{
    background-color: green;
    color: white;
    padding: 13px 50px ;
    border-radius: 30px;
    gap: 20px;
}
#logoutContainer{
    height: 100%;
    background-color: rgb(167, 167, 199);
}
.logoutContent{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

}
#LogOut_btn{
    border-radius: 30px!important;
}


#uploadContent{
    height: 100%;
    background-color: blue;
}
.signUpstyle{
    margin-left: 45px;
}
.cards{
    background-color: red;
}
.postWrapper{
    background-color: rgb(219, 215, 215);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 100%;
    padding: 10px;
}
#inputFile{
    display: none;
}
.postContainer{
    display: flex;
    justify-content: center;
}
#labelFile{
    background-color: #824672;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 0 4px;
}
.card{
    margin-top: 20px;
}
.loader{
    display:none;
    
}
